*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*for box model*/
}

/*Global*/
body{
    font-family: 'Merriweather', serif;
    background-color:#ebf2ff;
}

button{
    border: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Custom*/

/* CSS for Navbar */

.button_primary{
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0 0 20px #eee;
    font-weight: 600;

}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#f9fafc;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08), 0 6px 20px 0 rgba(0,0,0,0.01);
}

.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
    
}

.nav_ul{
    display: none;
    width: 100%;
}

.hamburger_menu > div{
    width: 35px;
    height: 5px;
    background-color: #f9fafc;
    margin: 6px 0 ;
}

.nav_ul.show{
    display: flex;
    flex-direction: column;
    
    padding-left: 1rem;
}
.nav_ul.show > li{
    margin: 0.4rem 0;
}

/* CSS for hero image */

.hero_container{
    width: 100%;
    margin-top: 1rem;
}

.hero_image_container{
    position: relative;
    width: 100%;
}

.hero_image{
    position: absolute;
    right: auto;
    left: auto;
    border-radius: 6px;
    margin-top: 2rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
    
}
.hero_image_shape{
    width: 100%;
    position: absolute;
}

.hero_text{
    font-size: 1.875rem;
    font-weight: 900;
    color: #1d3557;
}

/* CSS For Explore Menu*/

.food_list_container{
    color: #1d3557;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}



.food_menu_card{
    position: relative;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    margin: 1rem 0;
}

.food_menu_card_details{
    padding: 1rem ;
    text-align: left;

    
}
.food_menu_card_image{
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.text_xl{
    font-size: 2rem;
    
    font-weight:700;
    margin: 1rem 0;
}

.text_list{
    padding:0.3rem 0;
}

.food_list_view_more{
    display: flex;
    justify-content: center;
}

/* CSS For Restaurants Image Part*/

.restaurants_list_container{
    margin-top: 3rem;
}
.restaurants_list_img_container{
    margin-top: 1.5rem;

}
.restaurants_list_row-1{
    display: flex;
    align-items: baseline;
    gap:0.5rem ;
}
.restaurants_list_row-2{
    display: flex;
    align-items: flex-start;
    gap:0.5rem ;
    margin-top: 0.8rem;
}
.restaurants1,.restaurants4{
    width: 150px;
    height: 80px;
    border-radius: 4px;
}
.restaurants2,.restaurants3{
    width: 200px;
    height: 100px;
    border-radius: 4px;
}

/* CSS For Email input field*/

.email_field_container{
    width: 100%;
    margin-top: 3rem;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.email_input_field{
    display: flex;
    align-items: center;
}
.email_input{
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5px;
}
.email_input::placeholder{
    color: #bdbcbc;
}

/* CSS For Quote container*/
.quote_container{
    position: relative;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 13px;
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
}
.quote_img_overlay{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #0a4065;
    opacity: 49%;
    border-radius: 13px;
}

.quote_img_text{
    color: #fff;
    z-index: 1;
    margin: 0 1rem;
    text-align: center;
}
/* CSS For footer  */
footer{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    gap: 5px;

}

.footer_logo{
    width: 180px;
    filter: brightness(0) invert(1);
}
.footer_list{
    margin-top: 1rem;
    color: #fff;
    font-weight: 700;
    
}
footer > ul > li {
    margin: 5px 0;
}








/*For Reponsive look*/
@media (min-width:576px){
    .hero_text{
        font-size: 2rem;
    }
    .text_xl{
        font-size: 2.5rem;
    }
    
    .restaurants_list_container{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .quote_container{
        width: 100%;
        height: 300px;
    }
    .quote_img_overlay{
        width: 100%;
        height: 300px;
    }
    
    .quote_img_text{
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
    }

    

}

@media (min-width:768px) {
    .nav_ul.show{
        align-items: center;
    }
    .hero_text{
        font-size: 1.875rem;
    }
    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .food_list_menu{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        padding-top: 2rem;
        /* margin-top: 0.5rem; */
    }
    .text_xl{
        font-size: 2rem;
        
    }
    .food_list_container{
        position: relative;
        margin:5rem 0;
    }
    .food_menu_diagonal_bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        transform: skewY( -5deg);
        z-index: -1; 
    }
    .food_menu_card{
        flex-basis: 30%;
    }
    
    .pizza_card{
        margin-top: -1.2rem;
        margin-bottom: 2.4rem;
    }
    .food_list_view_more{
        display: flex;
        justify-content: center;
    }
    .button_primary{
        box-shadow: none;
    }
   
    .email_field_container{
        display: flex;
        justify-content: center;
    }
    .email_input{
        width: 20rem;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }
    .footer_logo{
        width: 250px;
    }
    .footer_list{
        font-size: 1.5rem;
    }
    
}



@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
    .button_primary{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .navbar{
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

    }
    .navbar_logo{
        padding: 0;
        width: 130%;
        height: 110%;
    }
    .navbar_nav_items{
        display: none ;
    
    }
    .nav_ul {
        display: flex;
        justify-content: flex-end;
        gap: 2.5rem;
        color: #1d3557;
        font-weight: 700;
        font-size: 1.2rem;

    }
    .nav_ul > li:hover{
        color: #ff512f;
    }
    .nav_button{
        display: none;
    }
    
    
    .hero_text{
        font-size: 3rem;
        line-height: 1;
    }
    .text_xl{
        font-size: 3rem;
        font-weight: 700;
    }
    
    .restaurants1,.restaurants4{
        width: 250px;
        height: 180px;
        border-radius: 4px;
    }
    .restaurants2,.restaurants3{
        width: 300px;
        height: 230px;
        border-radius: 4px;
    }

    
}
